<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">Movie Register Page
            <div style="float: right">
            <span>
                <a th:href="@{/movie/list}">
                    <button type="button" class="btn btn-outline-primary">
                        Movie List
                    </button>
                </a>
            </span>
            </div>
        </h1>

        <style>
            .uploadResult {
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }

            .uploadResult ul {
                background-color: white;
                border-radius: 15px;
                border: 1px #0a53be;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                height: 100px;
            }
        </style>

        <form th:action="@{/movie/register}" th:method="post">
            <div class="form-group">
                <label >Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <br>
            <div class="form-group fileForm">
                <label >Image Files</label>
                <div class="custom-file form-control file">
                    <input type="file"  class="custom-file-input form-select-sm " id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>

            <div class="box">
            </div>

            <div class="uploadResult">
                <ul>

                </ul>
            </div>

            <button type="submit" class="btn btn-primary">Sumbit</button>
        </form>

        <script>
            $(document).ready(function(e) {
                console.log("document.ready 시작")
                var regex = new RegExp("(.*?)\.(exe|zip|alz)$");
                var maxSize = 10485760; //10MB

                function checkExtension(fileName, fileSize){
                    if(fileSize >= maxSize){
                        alert("file size 초과");
                        return false;
                    }

                    if(regex.test(fileName)){
                        alert("exe, zip, alz 확장자는 업로드할 수 없습니다.");
                        return false;
                    }
                    return true;
                }

                $(".custom-file-input").on("change", function() {

                    var fileName = $(this).val().split("\\").pop();
                    console.log(fileName);

                    /*$(this).siblings(".custom-file-label").addClass("selected").html(fileName);*/

                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;

                    /*var appended = false;*/

                    for (var i = 0; i < files.length; i++) {

                        if(!checkExtension(files[i].name, files[i].size) ){
                            return false;
                        }
                        console.log("Input file " + i);
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        /*appended = true;*/
                    }

                    //upload를 하지 않는다.
                    /*if (!appended) {return;}*/

                    for (var value of formData.values()) {
                        console.log(value);
                    }

                    //upload ajax
                    $.ajax({
                        url: '/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        dataType:'json',
                        success: function(result){
                            console.log(result);
                            showResult(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    }); //$.ajax
                }); //end change event


                function showResult(uploadResultArr){

                    var uploadUL = $(".uploadResult ul");

                    var str ="";

                    $(uploadResultArr).each(function(i, obj) {

                        str += "<li data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
                        str += "<div>";
                        str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
                        str += "class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                        str += "</div>";
                        str += "</li>";
                    });

                    uploadUL.append(str);
                }
                /*파일 삭제*/
                $(".uploadResult ").on("click", "li button", function(e){

                    var targetFile = $(this).data("file");

                    var targetLi = $(this).closest("li");

                    $.ajax({
                        url: '/removeFile',
                        data: {fileName: targetFile},
                        dataType:'text',
                        type: 'POST',
                        success: function(result){
                            alert(result);

                            targetLi.remove();
                        }
                    }); //$.ajax
                });

                /*Submit*/
                $(".btn-primary").on("click", function(e) {
                    e.preventDefault();

                    var str = "";

                    $(".uploadResult li").each(function(i,obj){
                        var target = $(obj);
                        str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='"+target.data('name') +"'>";
                        str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"+target.data('path')+"'>";
                        str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";
                    });

                    /*.box 클래스에 input type='hidden' 값들 담는다.*/
                    $(".box").html(str);
                    /*form 제출*/
                   $("form").submit();

                });

            });
        </script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</th:block>
</th:block>
</html>